<?xml version="1.0" encoding="utf-8"?>
<!--
 This file is part of AudioBoo, an android program for audio blogging.
 Copyright (C) 2009 BestBefore Media Ltd. All rights reserved.

 Author: Jens Finkhaeuser <jens@finkhaeuser.de>

 $Id$
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fm.audioboo.app"
    android:versionCode="1"
    android:versionName="1.0.0"
  >

  <uses-sdk android:minSdkVersion="2" />

  <!-- Permissions used by this bundle -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <supports-screens android:smallScreens="true"
                    android:normalScreens="true"
                    android:largeScreens="true"
                    android:anyDensity="true" />


  <application
      android:label="@string/app_name"
      android:icon="@drawable/icon"
      android:name=".AudioBooApplication"
    >
    <activity android:name=".AudioBoo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        android:configChanges="orientation|keyboardHidden"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" android:host="boos.audioboo.fm" /> <!-- audio_clip_id -->
      </intent-filter>
    </activity>

    <activity android:name=".RecentBoosActivity"
        android:configChanges="orientation|keyboardHidden"
      />

    <activity android:name=".RecordActivity"
        android:configChanges="orientation|keyboardHidden"
      />

    <activity android:name=".AccountActivity"
        android:configChanges="orientation|keyboardHidden"
      />

    <activity android:name=".PublishActivity"
        android:configChanges="orientation|keyboardHidden"
      />

  </application>
</manifest>
